body {
  background: url('https://www.greenbiz.com/sites/default/files/2020-10/chicago_citybus_stock.jpg') no-repeat center/cover;
}
.facebook-style-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: darkblue;
}