<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: skyblue;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body" style="background-color: #ffffff;">
                        <h2 class="card-title text-center">Login</h2>
                        <form #userlogin="ngForm" (ngSubmit)="OnSubmit(userlogin)">
                            <div class="form-group">
                                <label for="username"><b><i>Username</i></b></label>
                                <input type="text" class="form-control" id="username"  name="username" ngModel placeholder="Enter your username" required>
                            </div>
                            <div class="form-group">
                                <label for="password"><b><i>Passowrd</i></b></label>
                                <input type="password" class="form-control" id="password" name="password" ngModel placeholder="Enter your password" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        <p class="text-center mt-3">Don't have an account? <a href="#">SignUp?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
