
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <title>Bus Reservation</title>
</head>

<body background="https://wallpaperaccess.com/full/1628625.jpg">
    <div class="header">
        <h1>WELCOME</h1>
        <p>Find and book your bus tickets online</p>
    </div>
        <div>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src=""></div>
              <div class="card_content">
                <h2 class="card_title">USERS PAGE</h2>
                
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src=""></div>
              <div class="card_content">
                <h2 class="card_title">SCHEDULE BUSES</h2>
                
                <button class="btn card_btn">Read More</button>
              </div>
            </div>
            </li>
          </ul>
        </div>
        <div>
            <ul class="cards">
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src=""></div>
                  <div class="card_content">
                    <h2 class="card_title">RESERVED BUSES</h2>
                    <p class="card_text"></p>
                    <button class="btn card_btn">Read More</button>
                  </div>
                </div>
              </li>
              <li class="cards_item">
                <div class="card">
                  <div class="card_image"><img src=""></div>
                  <div class="card_content">
                    <h2 class="card_title">AVAILABLE BUSES</h2>
                    <p class="card_text"></p>
                    <button class="btn card_btn">Read More</button>
                  </div>
                </div>
                </li>
              </ul>
            </div>
        
    
    
        
      
      
    
