<div class="col-md-4 offset-4 mt-6 card" style="background: white">
  <div class="card-body">
    <form #admin="ngForm" (ngSubmit)="register(admin)">
      <h1 class="h1 text-center">Registration Form</h1>
      <div class="form-group">
        <label for="userName" class="text-success">Name</label>
        <input
          type="text"
          #name="ngModel"
          ngModel
          name="name"
          id="userName"
          class="form-control"
          required
          placeholder="Enter user name"
        />
        <div *ngIf="name.touched && name.invalid">
          <p class="alert alert-danger">This field is required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="userEmail" class="text-success">Email</label>
        <input
          type="email"
          #username="ngModel"
          ngModel
          name="username"
          id="userEmail"
          class="form-control"
          required
          placeholder="Enter user email"
        />
        <div *ngIf="username.touched && username.invalid">
          <p class="alert alert-danger">This field is required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="userPassword" class="text-success">Password </label>
        <input
          type="password"
          #password="ngModel"
          ngModel
          name="password"
          id="userPassword"
          class="form-control"
          required
          placeholder="Enter password"
        />
        <div *ngIf="password.touched && password.invalid">
          <p class="alert alert-danger">This field is required</p>
        </div>
      </div>
      <input
        type="hidden"
        name="type"
        id="type"
        #type="ngModel"
        [(ngModel)]="admin.name"
      />
      <button
        type="submit"
        class="btn btn-outline-info btn-block form-control"
        [disabled]="admin.invalid"
      >
        Register
      </button>
    </form>
  </div>
</div>
