<html>
  <body>
    <head>
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      />
      
       
      
    </head>
    <div class="container col-md-6">
      <h1 class="card-title text-center facebook-style-text" style="color: red">
        Register User
      </h1>
      <form (ngSubmit)="userRegister()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Id</label>
          <input
            type="number"
            class="form-control"
            id="user_id"
            name="user_id"
            placeholder="Enter your Favourite Number"
            [(ngModel)]="user.user_id"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter your Name"
            [(ngModel)]="user.username"
          />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your Password"
            [(ngModel)]="user.password"
          />
        </div>
       
        
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Date Created</label>
          <input
            type="date"
            class="form-control"
            id="date_created"
            name="date_created"
            [(ngModel)]="user.date_created"
          />
        </div>


        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="text-center mt-3">
        Have an account? <a href="/user/login"><button type="submit" class="btn btn-primary">
          Login
        </button></a>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
