<div class="tw-grow tw-flex tw-flex-col background-photo">
  <div class="container tw-grow tw-flex tw-flex-col">
    <header class="tw-p-6">
      <h1 class="tw-text-6xl tw-text-red-600">Online Bus Reservation</h1>
    </header>
    <main class="tw-grow tw-flex tw-flex-row">
      <section class="tw-grow tw-flex tw-flex-col tw-pt-12 tw-items-center">
        <div class="tw-rounded-lg tw-p-6 tw-bg-slate-200">
          <h1 class="tw-text-3xl">Are you user?</h1>
          <a class="btn btn-primary" href="/user/login">Login as user</a>
        </div>
      </section>
      <section class="tw-grow tw-flex tw-flex-col tw-pt-12 tw-items-center">
        <div class="tw-rounded-lg tw-p-6 tw-bg-slate-200">
          <h1 class="tw-text-3xl">Or admin?</h1>
          <a class="btn btn-primary" href="/admin/login">Login as admin</a>
        </div>
      </section>
    </main>
  </div>
</div>
