<div class="panel panel-primary">
  <div class="panel-heading" >
    <h2>List of Buses</h2>
  </div><br>
  <button class="btn btn-primary" routerLink="/adminHome" >Goto Home</button>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Location</th>
          <th>Departure</th>
          <th>ETA</th>
          <th>Price</th>
          <th>Availablity</th>  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of buses">
          <td>{{bus.bus_id}}</td>
          <td>{{bus.location}}</td>
          <td>{{bus.departure}}</td>
          <td>{{bus.eta}}</td>
          <td>{{bus.price}}</td>
          <td>{{bus.availability}}</td>
          <td><button  class="btn btn-danger" (click)="removeBus(bus.bus_id)" >Delete</button> &nbsp;
          <button  class="btn btn-info">Update</button>
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
