<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <title>Bus Reservation</title>
  </head>
  <body class="bg-image" style="background-image: url('https://th.bing.com/th/id/R.16e3e250cf5c9422b31d4c3a55c9f364?rik=sGHLlzWEcbK1KQ&riu=http%3a%2f%2froyalbuscharters.ca%2fpublic%2fimages%2ffleet%2fcoach-bus.jpg&ehk=rFHYxe2TykhNi5dd2Mqw%2bKALcwkLSmvwGMLXkPaiQvU%3d&risl=&pid=ImgRaw&r=0'); height: 1000px;">
    <div class="header">
      <h1>WELCOME</h1>
      <p>Find and book your bus tickets online</p>
    </div>
    <div>
      
      <ul class="cards">
        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="" /></div>
            <div class="card_content">
              <h2 class="card_title"><b>NUMBER OF USERS</b></h2>
              <span>{{totalNumberOfUsers}}</span>

              
            </div>
          </div>
        </li>
        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="" /></div>
            <div class="card_content">
              <h2 class="card_title"><b>TOTAL BUSES </b></h2>
              <span>{{totalNumberOfBuses}}</span>

              
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <ul class="cards">
        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="" /></div>
            <div class="card_content">
              <h2 class="card_title"><b>RESERVED BUSES</b></h2>
              <p class="card_text"></p>
              
            </div>
          </div>
        </li>
        <li class="cards_item">
          <div class="card">
            <div class="card_image"><img src="" /></div>
            <div class="card_content">
              <h2 class="card_title"><b>AVAILABLE BUSES</b></h2>
              <p class="card_text"></p>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
